name: Pull request
on: pull_request
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16, 18, 20]

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Cache node modules
        uses: actions/cache@v3
        id: cache-node-modules
        env:
          cache-name: cache-node-modules
        with:
          path: |
            ./node_modules
            ./packages/*/node_modules
          key: ${{ runner.os }}-${{ matrix.node-version }}-build-${{ env.cache-name }}-${{ hashFiles('./packages/*/package-lock.json') }}-${{ hashFiles('./package-lock.json') }}

      - name: Cache turbo
        uses: actions/cache@v3
        id: cache-turbo
        with:
          path: .turbo
          key: turbo-${{ github.ref_name }}-${{ github.sha }}
          restore-keys: |
            turbo-${{ github.ref_name }}

      - name: Restore turbo cache from master
        if: steps.cache-turbo.outputs.cache-hit != 'true'
        uses: actions/cache/restore@v3
        with:
          path: .turbo
          key: turbo-master
      
      - name: Install dependencies
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: npm ci --ignore-scripts

      - name: Validate commit messages
        run: node ./node_modules/.bin/happy-validate-pr-commit-messages
  
      - name: Compile package
        run: npm run compile

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm run test